<div class="col-xs-6">
    <a href="https://github.com/yeoman/yo" target="_blank">
        <img src="img/04-04-Yo.png" alt="Yo Logo" class="img-responsive col-xs-6"/>
    </a>
    <p>
        It's a workflow; a collection of tools and best practices working in harmony to make developing for the web even better.
    </p>
</div>

<div class="col-xs-6">
    <h1>Why ?</h1>

    <ul>
        <li>Web Project Scaffolding</li>
        <li>Yeoman dependency</li>
        <li>Running on Node.js</li>
    </ul>
</div>

<div class="col-xs-12">
    <pre><code>yo webapp</code></pre>
</div>

<div class="col-xs-12">
    <pre><code>yo angular</code></pre>
</div>