<div class="col-xs-6">
    <a href="http://sass-lang.com/" target="_blank">
        <img src="img/04-06-02-SASS.png" alt="SASS Logo" class="img-responsive col-xs-6"/>
    </a>
    <p>
        "Sass is the most mature, stable, and powerful professional grade CSS extension language in the world."
    </p>
</div>

<div class="col-xs-6">
    <h1>Why ?</h1>

    <ul>
        <li>Run on server side</li>
        <li>Compiled Languages</li>
        <li>Extends CSS languages</li>
        <li>More simple</li>
        <li>Running on Grunt server</li>
    </ul>
</div>

<div class="col-xs-12">
    <pre><code>@import 'reset';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}</code></pre>
</div>

<div class="col-xs-12">
    <pre><code>@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

.box { @include border-radius(10px); }

.box-success {
    @extend .box;
    border-color: green;
}</code></pre>
</div>